function Analog.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 255
pop static 0
push constant 127
pop static 1
push constant 100
pop static 2
push constant 2
pop static 3
push constant 3
pop static 4
push constant 95
pop static 5
push constant 80
pop static 6
push constant 60
pop static 7
push pointer 0
call Analog.drawClock 1
pop temp 0
push pointer 0
return
function Analog.drawClock 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push static 0
push static 1
push static 2
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push static 0
push static 1
push static 2
push static 3
sub
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push static 0
push static 1
push static 4
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 255
push constant 223
push constant 255
push constant 218
call Screen.drawLine 4
pop temp 0
push constant 255
push constant 31
push constant 255
push constant 34
call Screen.drawLine 4
pop temp 0
push constant 159
push constant 127
push constant 163
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 351
push constant 127
push constant 348
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 0
return
